@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smokum&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 80px 0px;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 720px;
    width: 100%;
    border: 8px solid #081523;
}

img {
    width: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 343px;
    background-image: url('./images/dallas.jpg');
}

.city-text, .desc-text {
    color: #FFF;
    text-shadow: 0 0 8px black;  
    padding: 10px 20px;
    border-radius: 12px;
}

.city-text {
    max-width: 520px;
    width: 90%;
    font-family: 'Smokum', sans-serif;
    font-size: 65px;
    background-color: rgba(11, 39, 61, 0.4);
    border: 3px double #FFF;
}

.desc-text {
    width: 450px;
    background-color: #081523;
    border: 2px solid #FFF;
}

.activities {
    width: 100%;
    height: 378px;
    background-color: #c1dad2;
    padding: 15px 0px;
    margin: 0;
}

.bottom-margin {
    margin-bottom: 30px;
}

.activity-title {
    font-size: 18px;
    font-style: italic;
}

.activity-text {
    font-size: 15px;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}

li {
    width: 198px;
    height: 226px;
    list-style: none;
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 394px;
    background-color: #FFF;
    padding-top: 10px;
}

.activity-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px inset #081523;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 294px;
    border: 1px solid black;
    background-color: #6a829c;
    padding: 0px 20px;
    gap: 10px;
    border-bottom: 8px solid #081523;
    border-radius: 10px;
    transition-duration: 2s;
}

.card:hover {
    background-color: #a9b4c0;
}

.avatar {
    width: 180px;
    height: 200px;
    border-radius: 10px;
}
